# Data Types and Structures– Theory Questions

1. What are data structures, and why are they important?
->Data structures are ways to organize and store data. They help us do things like finding, adding, or removing data quickly and easily.

2. What is the difference between mutable and immutable data types?

->Mutable means you can change the data (like a list).

Immutable means you can’t change it (like a string or a number).

3. What are the main differences between lists and tuples?

->Lists can be changed.

Tuples cannot be changed.
Tuples are also faster and used when the data shouldn't change.

4. How do dictionaries store data?
->Dictionaries store data in key: value pairs. Think of it like a mini contact book — the name is the key, the number is the value.

5.  Why use a set instead of a list?
-> Sets don’t allow duplicate values and are faster when checking if something exists. Use a set when you want only unique items.

6. What is a string, and how is it different from a list?
-> A string is a group of characters (like "hello"). You can't change it. A list is a collection of items, and you can change it.

7. How do tuples keep data safe from changes?
->Tuples can't be changed, so they keep the data safe from being accidentally edited.

8. What is a hash table, and how is it related to dictionaries?
->A hash table is a smart way of storing data to find it fast. Dictionaries in Python use this method to find values using keys quickly.

9. Can a list have different types of data?
->Yes! A list can have numbers, strings, other lists, etc.
Example: [1, "hello", 3.5, [2, 3]]

10. Why can’t we change strings in Python?
->Strings can’t be changed to keep them safe and efficient. It also lets them be used as keys in dictionaries.

11. What are the benefits of dictionaries over lists?
->Dictionaries are faster when you want to find something using a key. Lists don’t have keys, so searching is slower.

12. When is it better to use a tuple than a list?
->Use a tuple when the data should not change — like days of the week or coordinates (x, y).

13. How do sets handle duplicate values?
->Sets automatically remove any repeated values.
Example: {1, 2, 2, 3} becomes {1, 2, 3}

14. How does "in" work for lists and dictionaries?

->In a list, it checks if a value exists.

In a dictionary, it checks if a key exists.

3 in [1, 2, 3]       # True  
'name' in {'name': 'Anuj'}  # True
15. Can we change what's inside a tuple? Why not?
->No, because tuples are immutable. Once made, their values stay the same.

16. What is a nested dictionary? Give an example.
-> nested dictionary is a dictionary inside another one.
Example:


student = {
  "name": "Anuj",
  "marks": {"math": 90, "science": 80}
}
17. What is the time taken to get a value from a dictionary?
->It usually takes very little time — constant time (O(1)), which means it's very fast.

18. When should you use a list instead of a dictionary?
->Use a list when you just want to store items in order — like a shopping list.

19. Why are dictionaries considered unordered?
->In older Python versions, dictionaries didn’t remember the order of items. Now they do, but they’re still used mainly for quick access using keys.

20. What’s the difference between a list and a dictionary for finding data?

->In a list, you find data using a number (index).

In a dictionary, you find data using a key.

In [36]:
#1. Write a code to create a string with your name and print it

name = "Anuj"
print(name)

Anuj

In [2]:
#2. Write a code to find the length of the string "Hello World"


text = "Hello World"
print(len(text))

11

In [3]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"


text = "Python Programming"
print(text[:3])

Pyt

In [5]:
#4. Write a code to convert the string "hello" to uppercase


text = "hello"
print(text.upper())

HELLO

In [7]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"


text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

In [9]:
#6. Write a code to create a list with numbers 1 to 5 and print it


numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [11]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4]


numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [12]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]


numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [13]:

#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']


letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [14]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50]


numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [15]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it


my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [16]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')


colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [17]:

#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)


nums = (10, 20, 5, 15)
print(min(nums))

5

In [18]:

#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [19]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it


fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)

False

In [20]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it


my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'a', 'c'}

In [21]:

#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.


my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [22]:

#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [24]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.


set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [25]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.


set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection = set1.intersection(set2)
print(intersection)

{2, 3}

In [26]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.


person = {"name": "Anuj", "age": 25, "city": "Delhi"}
print(person)

{'name': 'Anuj', 'age': 25, 'city': 'Delhi'}

In [27]:

#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.


person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [28]:

#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.


person = {'name': 'Alice', 'age': 30}
print(person["name"])

Alice

In [29]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.


person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop("age")
print(person)

{'name': 'Bob', 'city': 'New York'}

In [30]:


#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.


person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

True

In [31]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.


my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 10, "b": 20}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 10, 'b': 20}

In [32]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.


import random
numbers = random.sample(range(1, 101), 5)
numbers.sort()
print(numbers)

[42, 49, 51, 56, 75]

In [33]:
#28. Write a code to create a list with strings and print the element at the third index.


words = ["apple", "banana", "cherry", "date", "elderberry"]
print(words[3])

date

In [34]:
#29. Write a code to combine two dictionaries into one and print the result.


dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [35]:

#30. Write a code to convert a list of strings into a set.


words = ["apple", "banana", "cherry", "apple"]
word_set = set(words)
print(word_set)

{'banana', 'apple', 'cherry'}